<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href="css/styles.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>

    <script src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.2/js/dataTables.bootstrap5.min.js"></script>
    <link href="https://cdn.datatables.net/1.13.2/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/js/toastr.min.js"></script>

    <script src="js/menu.js"></script>
    <script src="js/product.js"></script>
    <script>
        window.onload = function() {
            loadInit();
            loadAllCategorySelect();
            loadAProduct();
        }
    </script>
</head>

<body class="sb-nav-fixed">
    <nav id="top" class="sb-topnav navbar navbar-expand navbar-dark bg-dark"></nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav"></div>
        <div id="layoutSidenav_content">
            <main class="main">
                <div class="col-sm-12 header-sps">
                    <div class="title-add-admin">
                        <p>Hãy thêm sản phẩm cùng kích thước và màu sắc sản phẩm</p>
                    </div>
                </div>
                <div class="group-tabs">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="tabtk nav-item active"><a data-toggle="tab" class="nav-link" aria-current="page" href="#home">Thông tin sản phẩm</a></li>
                        <li class="tabtk nav-item"><a href="#profile" data-toggle="tab" class="nav-link">Màu sắc/ kích thước</a></li>
                    </ul>
                </div>
                <div class="tab-content contentab">
                    <div role="tabpanel" class="tab-pane active" id="home">
                        <div class="col-sm-12">
                            <div class="form-add">
                                <div class="row">
                                    <div class="col-md-4 col-sm-12 col-12">
                                        <label class="lb-form">Mã sản phẩm</label>
                                        <input id="codesp" type="text" class="form-control">
                                        <label class="lb-form">Tên sản phẩm</label>
                                        <input id="namesp" type="text" class="form-control">
                                        <label class="lb-form">Alias</label>
                                        <input id="alias" type="text" class="form-control">
                                        <label class="lb-form">Giá tiền</label>
                                        <input id="price" type="text" class="form-control">
                                        <label class="lb-form">Danh mục sản phẩm</label>
                                        <select id="listdpar" class="form-control" multiple style="width: 100%;">
                                        </select>
                                        <br>
                                        <div class="loading" id="loading">
                                            <div class="bar1 bar"></div>
                                        </div><br>
                                        <button onclick="saveProduct()" class="btn btn-primary form-control">Thêm/ cập nhật</button>
                                    </div>
                                    <div class="col-md-8 col-sm-12 col-12">
                                        <label class="lb-form">Ảnh nền</label>
                                        <input id="imgbanner" type="file" class="form-control">
                                        <img src="" id="imgpreproduct" style="width: 70px;margin-top: 5px;display: block;">
                                        <label class="lb-form">Ảnh phụ</label>
                                        <input id="choosefile" multiple type="file" style="visibility: hidden;">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="row" id="preview">
                                                    <div class="col-md-3" id="chon-anhs" style="height: 100px;">
                                                        <div style="height: 120px;" id="choose-image" class="choose-image" onclick="document.getElementById('choosefile').click(); return false;">
                                                            <p><i class="fas fa-camera" id="camera"></i></p>
                                                            <p id="numimage">Đăng từ 3 ảnh</p>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="row" id="anhdathem" style="display: none;">
                                                <div class="col-sm-12">
                                                    <h4 style="margin-top: 30px;">Ảnh đã thêm</h4>
                                                </div>
                                                <div id="listanhdathem" class="row">

                                                </div>
                                                <!-- <div class="col-md-4">
                                                    <img style="width: 90%;" src="../image/detail.jpeg" class="image-upload">
                                                    <button class="btn btn-danger form-control">Xóa ảnh</button>
                                                </div> -->
                                            </div>
                                        </div>
                                        <label class="lb-form">Mô tả sản phẩm</label>
                                        <textarea id="editor" name="content"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="profile">
                        <div class="row">
                            <div id="listcolorblock" class="col-md-12 col-sm-12 col-12 row" style="padding-top: 20px;">
                                <!-- <div class="col-sm-6">
                                    <div class="singlecolor row">
                                        <div class="col-12"><i onclick="removeColorBlock(this)" class="fa fa-trash pointer"></i></div>
                                        <div class="col-8 inforcolor">
                                            <input type="hidden" class="idcolor">
                                            <label class="lb-form">Tên màu:</label>
                                            <input type="text" class="form-control colorName">
                                            <label class="lb-form">Ảnh màu</label>
                                            <input onchange="priviewImg(this)" type="file" class="form-control fileimgclo">
                                        </div>
                                        <div class="col-4 divimgpre">
                                            <img class="imgpreview" src="" style="width: 100%;">
                                        </div>
                                        <span onclick="addSizeBlock(this)" class="pointer btnaddsize"><i class="fa fa-plus"></i> Thêm size</span>
                                        <div class="listsizeblock">
                                            <div class="singelsizeblock">
                                                <input type="hidden" class="idsize">
                                                <input placeholder="tên size" class="sizename">
                                                <input placeholder="Số lượng" value="0" class="sizequantity">
                                                <i onclick="removeInputSize(this)" class="fa fa-trash-alt trashsize"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                        <button onclick="addBlockColor()" id="myBtn"><i class="fa fa-plus-circle"></i></button>
                    </div>
                </div>
            </main>
        </div>
    </div>
</body>
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<script>
    tinymce.init({
        selector: 'textarea#editor',
    });
    var hash = location.hash.substr(1);
    if (hash != "") {
        var tabb = document.getElementsByClassName("tab-pane");
        for (i = 0; i < tabb.length; i++) {
            document.getElementsByClassName("tab-pane")[i].classList.remove("active");
        }
        var tabs = document.getElementsByClassName("tabdv");
        for (i = 0; i < tabs.length; i++) {
            document.getElementsByClassName("tabdv")[i].classList.remove("activetabdv");
        }
        document.getElementById(hash).classList.add('active')
    }
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</html>